---
layout: default
---

<header class="header">
  <div class="header-title">
    <a href="{{ site.url }}{{ site.baseurl }}">{{ site.name }}</a>
  </div>
  <nav class="header-nav">
    {% for nav in site.nav %}
    {% if nav.url contains 'http://' or nav.url contains 'https://' %}
    <a href="{{ nav.url }}">{{ nav.name }}</a>
    {% else %}
    <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a>
    {% endif %}
    {% endfor %}
  </nav>
</header>

<section class="service-info">
  <h4 class="service-and-donation-header centered-paragraph">Service and Donations</h4>
  <p class="service-info-1">
    <div class="centered-paragraph">Shirley’s Celebration of Life Service will be held</div>
    <div class="centered-paragraph">Friday, July 10</div>
    <div class="centered-paragraph">1:00 PM</div>
    <a href="https://goo.gl/maps/db5y1sjAqLtZdvJZA">
      <div class="centered-paragraph">at First Methodist Waco</div>
      <div class="centered-paragraph">4901 Cobbs Dr</div>
      <div class="centered-paragraph">Waco, TX 76710</div>
    </a>
  </p>

  <hr />

  <p class="centered-paragraph">
    All guests are asked to wear a mask until seated
    and to observe social distancing requirements.
  </p>

  <p class="centered-paragraph">
    We also ask that you sign our <a href="/guestbook">guestbook</a>
  </p>

  <p class="centered-paragraph">
    For those unable to attend:
  </p>

  <ul>
    <li>
      <a href="/livestream">The service will be livestreamed here</a>
    </li>
    <li>
      <a href="/slideshow">The slideshow is available here</a>
    </li>
    <li>
      <a href="/music">The music is available here</a>
    </li>
    <li>
      <a href="/photos">The photos are available here</a>
    </li>
  </ul>

  <hr />

  <p class="centered-paragraph">
    <div class="centered-paragraph">The family has requested that you do not send flowers.</div>
    <div class="centered-paragraph">In lieu of flowers, donations in Shirley’s name can be made to:</div>
  </p>

  <div class="donation-grid">
    <div class="donation">
      <div class="specific-column-1 centered-paragraph">Providence Hospice</div>
      <div class="specific-column-1 centered-paragraph">600 Sanger Ave, Waco, TX 76710</div>
      <div class="specific-column-1 centered-paragraph">254.399.9099</div>
    </div>

    <div class="donation">
      <div class="specific-column-2 centered-paragraph">Alzheimer's Association</div>
      <div class="specific-column-2 centered-paragraph">710 N 64th St, Waco, TX 76710</div>
      <div class="specific-column-2 centered-paragraph">254.753.7722</div>
    </div>

    <div class="donation">
      <div class="specific-column-3 centered-paragraph">First Methodist Waco</div>
      <div class="specific-column-3 centered-paragraph">4901 Cobbs Dr, Waco, TX 76710</div>
      <div class="specific-column-3 centered-paragraph">254.772.5630</div>
    </div>
  </div>
</section>