* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: $base-font;
  font-size: $base-font-size;
  line-height: 1.6;
}

html,
body {
  margin: 0;
  padding: 0;
}

.content-container {
  max-width: 48rem;
  padding: 5rem 1rem;
  margin-left:  auto;
  margin-right: auto;

  @media (max-width: 48rem){
    padding: 2rem 1.3rem;
  }
}


/*--------------
  Header
  -------------- */
.header {
  font-family: $header-font;
  padding: 2%;
  margin-bottom: 1.5em;
  text-align: center;
  // text-transform: lowercase;

  &-title {
    margin: 0.3em 0;
    font-size: 2.25em;
    line-height: 1.2em;
    font-weight: 600;

    a {
      color: var(--base-color);
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    span {
      color: var(--oc-gray-5);
    }

  }

  &-nav {
    text-align: center;
    a {
      color: var(--oc-gray-7);
      text-transform: lowercase;
      -webkit-transition: all .2s ease;
         -moz-transition: all .2s ease;
              transition: all .2s ease;
      margin-right: .3rem;

      &:hover,
      &:focus {
        color: var(--oc-gray-7);
        text-decoration: none;
      }
    }
  }
}

.header-small {
  font-family: $header-font;
  text-align: center;
  margin-bottom: .75rem;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: lowercase;

  a {
    color: var(--table-border-color);

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

/*--------------
  Page
  -------------- */

.page {
  &-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 2.25em;
    line-height: 1.2em;
    font-weight: 600;
    font-family: $header-font;
  }
}


/*--------------
  Post
  -------------- */
.post {

  &-title {
    margin-top: 0rem;
    margin-bottom: 0.3rem;
    font-size: 2.55em;
    line-height: 1.2em;
    font-weight: 700;
    font-family: $h-font;
    text-transform: lowercase;
  }

  &-date {
    margin-bottom: .5rem;
    color: var(--link-color);
    font-size: .75rem;
    text-transform: lowercase;
  }

   &-tag {
    margin-bottom: 1.5rem;

    ul {
      li:before {
        content: ""
      }

      li {
        margin: 0;
        font-size: .75rem;
        font-weight: 300;
        display: inline;
        list-style-type: none;
        text-transform: lowercase;

        a {
          display: inline-block;
          margin: 4px;
          margin-left: 0px;
          color: var(--oc-white);
          background-color: var(--oc-gray-6);
          text-decoration: none;
          border-radius: 3px;

          span {
            float: left;
            padding: .5px 5px;
          }
        }

        a:hover {
          background-color: var(--oc-gray-7);
        }

        a:visited {
          background-color: var(--oc-gray-5);
        }

        a:visited:hover {
          background-color: var(--oc-gray-7);
        }
      }
    }
  }

  &-disqus {
    margin-top: 4rem;
  }

}

/*--------------
  Post list
  -------------- */

.list {
  &-post {
    padding: 4% 2%;
    
    &:hover {
      background-color: var(--background-over-color);
      border-color: transparent;
      border-radius: 10px;
    }

    a {
      color: var(--base-color);

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &-title {
      font-family: $header-font;
      margin-bottom: .3rem;
      font-size : 1.8rem;
      font-weight: 600;
      text-transform: lowercase;
    }
    
    &-date {
      color: var(--base-lighten-color);
      font-size: .8rem;
      text-transform: lowercase;
    }
    
    &-desc {
      color: var(--base-color);
      margin-bottom: .25rem;
      font-size :1rem;
    }
  }

  &-pagination {
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    // text-transform: lowercase;

    &-previous {
      float: left;
      padding-left: 2%;
      a {
        color: var(--oc-gray-6);

        &:hover,
        &:focus {
          color: var(--oc-gray-7);
          text-decoration: none;
        }
      }
    }

    &-next {
      float: right;
      padding-right: 2%;
      a {
        color: var(--oc-gray-6);

        &:hover {
          color: var(--oc-gray-7);
          text-decoration: none;
        }
      }
    }
  }
}


/*--------------
  Tags
  -------------- */
.tag {
  &-index {
    ul {
      li:before {
        content: ""
      }

      li {
        margin: 0;
        font-size: 0.8rem;
        display: inline;
        list-style-type: none;
        text-transform: lowercase;

        a {
          display: inline-block;
          margin: 4px;
          margin-left: 0px;
          color: var(--oc-white);
          background-color: var(--oc-gray-6);
          text-decoration: none;
          border-radius: 3px;

          span {
            float: left;
            padding: .5px 5px;
          }

          .count {
            background-color: var(--oc-gray-7);
            border-radius: 0 3px 3px 0;
          }
        }

        a:hover {
          background-color: var(--oc-gray-7);
        }
      }
    }
  }

  &-title {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: lowercase;
    padding: 1rem 0;
  }

  &-post {
    a {
      color: var(--base-color);

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &:hover {
      color: var(--base-color);
      text-decoration: none;
      background-color: var(--background-over-color);
      border-color: transparent;
      }
  }
}

/*--------------
  Archive
  -------------- */
.archive {
  &-list {
    &-post {
      padding: 0.1rem;

      &:hover {
          background-color: var(--background-over-color);
          border-color: transparent;
      }

      a {
        color: var(--base-color);

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }

      &-title {
        font-size : 1.2rem;
        font-weight: 400;
      }

      &-date {
        color: var(--base-lighten-color);
        font-size: .75rem;
        text-transform: uppercase;
      }
    }
  }
}
.note {
  margin-left: 40px;
  margin-bottom: 0;
  border-left: var(--oc-violet-6) solid;
  padding-left: 20px;
}

/*--------------
  Footer
  -------------- */
.footer {
  text-align: center;
  font-size: .25rem;

  &-link {
    margin: .2rem;

    a {
      color: var(--base-color);
      margin: 4px;
    }
  }
}

.icon {
  svg {
    path {
      fill: var(--base-color);
    }
  }
}

.centered-paragraph {
  text-align: center;
}

.donation {
  margin: 1rem;
}

.info {
  grid-area: info;
}

.service-and-donation-header {
  grid-area: header;
}

.donation-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header.small {
  padding-bottom: 1rem;
}

.livestream {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.livestream iframe, .livestream object, .livestream embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

p {
  text-align: center;
}

h3 {
  text-align: center;
}



.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	// min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button {
	border:none;
	padding:15px 20px;
	border-radius:25px;
  background:var(--form-field-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:var(--form-field-color);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}